@font-face{
    font-family: 'Radio-Canada';
    src: url('../assets/fonts/Radio_Canada/RadioCanada-VariableFont_wdth\,wght.ttf')
}



body{
    font-family: 'Radio-Canada';
    display: grid;
    place-items: center;

    background-color: #0f172a;
    color: #e2e8f0;

}

a{
    text-decoration: none;
    color: inherit;
}