.home-page-img{
    display: block;
    width: 15rem;
    border: .2rem solid #e5e7eb;
    border-radius: 50%;

    transition: transform 0.3s ease;
}

.home-page-img:hover{
    transform: scale(1.05);
}

main{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 3rem;
    padding: 3rem 1.5rem;

    width: 100%;
    margin: 0 auto;
}

.about-me{

    padding: 2rem;
    background-color: #ffffff;

    border: .2rem solid #e5e7eb;
    border-radius: .4rem;

    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}


@media (min-width: 900px) {
  main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 4rem;
    width: 100%;
  }

    .nav-bar {
        justify-content: center;
        overflow-x: visible;
    }

}